// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: "Encode Sans",sans-serif !important;
$heading-font-family: "Encode Sans",sans-serif !important;
$primaryColor: #6BBBAE;
$secondary: #FBC543;

// Global CSS Added Here 

.v-btn {
	text-transform: capitalize !important;
}